<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ReplyWithHeader</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ReplyWithHeader.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.myjeeva.mac.mail.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.7</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2013 Jeevanandam M. (jeevatkm), All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>RwhMailBundle</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>DAFFB2B4-77BC-4C25-8CE1-2405E652D54B</string>
		<string>2B98D2DD-000B-4521-83EB-7BFCB9B161C8</string>
		<string>422F980A-6E19-4083-97A0-791EB6B06508</string>
		<string>19B53E95-0964-4AAB-88F9-6D2F8B7B6037</string>
		<string>45A0C9E7-264B-45A4-9A54-F9CE48806169</string>
		<string>1B8BEB55-7CDB-44D1-A2D0-20C2D3449417</string>
		<string>2183B2CD-BEDF-4AA6-AC18-A1BBED2E3354</string>
		<string>B3840429-B086-42FB-BBE9-03DD7273C94E</string>
		<string>608CE00F-4576-4CAD-B362-F3CCB7DE8D67</string>
		<string>EF59EC5E-EFCD-4EA7-B617-6C5708397D24</string>
		<string>6E7970A3-E5F1-4C41-A904-B18D3D8FAA7D</string>
		<string>2DE49D65-B49E-4303-A280-8448872EFE87</string>
		<string>1146A009-E373-4DB6-AB4D-47E59A7E50FD</string>
	</array>
	<key>RwhAppCastURL</key>
	<string>http://myjeeva.com/replywithheader.json</string>
</dict>
</plist>
