<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ReplyWithHeader</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.github.replywithheader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ReplyWithHeader</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>ReplyWithHeader</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.2</string>
	<key>NSPrincipalClass</key>
	<string>ReplyWithHeader</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>1146A009-E373-4DB6-AB4D-47E59A7E50FD</string>
		<string>608CE00F-4576-4CAD-B362-F3CCB7DE8D67</string>
	</array>
</dict>
</plist>
