<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ReplyWithHeader</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.godhuli.replywithheader</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ReplyWithHeader</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>ReplyWithHeader</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.8</string>
	<key>NSPrincipalClass</key>
	<string>KnockKnock</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>2DE49D65-B49E-4303-A280-8448872EFE87</string>
		<string>1146A009-E373-4DB6-AB4D-47E59A7E50FD</string>
		<string>6E7970A3-E5F1-4C41-A904-B18D3D8FAA7D</string>
		<string>EF59EC5E-EFCD-4EA7-B617-6C5708397D24</string>
		<string>4C286C70-7F18-4839-B903-6F2D58FA4C71</string>
	</array>
</dict>
</plist>
