<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedHeaders</key>
	<array>
		<string>寄件人</string>
		<string>標題</string>
		<string>日期</string>
		<string>收件人</string>
		<string>副本</string>
	</array>
</dict>
</plist>
